.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bottomStart {
    width: 100%;
    position: absolute;
    top: 99vh;
    z-index: inherit;
    left: 0;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}
.bottomStart h4 {
    position: absolute;
}

.body {
    width: 100%;
    height: 150vh;
    position: absolute;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
}

.blockButtons {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 85%;
    left: 0;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.bottomStartButton {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    grid-template-columns: 0 1fr;
}