.body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("/src/data/media/bgHome.jpg");
}

@media (min-width: 650px) {
    .body {
        background-image: url("/src/data/media/bgHomePC.jpg");
    }
}
