.background {
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    right: 0;
    top: 0;
}
.backgroundPC {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 48%, rgba(0,0,0,0.7) 100%);
    position: fixed;
    right: 0;
    top: 0;
}

.body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 20vw;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
}

.nav {
    text-decoration: none;
    background: #dad9d9;
    border-radius: 20px;
    margin-bottom: 5px;
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav.active {
    text-decoration: underline;
}

.body h4 {
    color: black;
    text-decoration: none;
}
.body h4:hover {
    text-decoration: underline;
}

.bodyImagesUrls {
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 650px) {
    .background {
        visibility: visible;
    }
    .backgroundPC {
        visibility: visible;
    }
    .nav {
        position: absolute;
        visibility: hidden;
    }
    .body {
        top: unset;
        right: unset;
        left: 0;
        bottom: 0;
        width: calc(100vw - 10px);
        border-radius: 10px 10px 0 0;
        height: 50px;
        visibility: visible;
    }
}