.body {
    width: 50%;
    height: 15%;
    text-align: center;
    display: grid;
    background-color: #374690;
    grid-template-columns: 3fr 10fr;
    border-radius: 50px;
    text-align: center;
}
.body div {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.body h4 {
    width: 100%;
    margin: auto 0;
    margin-block: 0;
    text-align: center;
}

@media (min-width: 700px) {
    .body {
        width: 90%;
    }
}